@tailwind base;
@tailwind components;
@tailwind utilities;


.ag-theme-alpine .ag-header-cell {
    background-color: #f5b041;
}

.ag-theme-alpine .ag-header-cell-label {
    justify-content: center;
    display: flex;
    width:  100%;
}